.container {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

.footer {
    background-color :#414141; /* Example color */
    padding: 1rem;
    height: 300px;
    color: white;
}

.contact {
    margin-left: 30px;
}

.contactTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -10px;
}
